<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Budgeting App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BudgetingApp.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Budgeting App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if ((ViewBag.IsLoginPage == null || !ViewBag.IsLoginPage) && (ViewBag.IsCreateAccountPage == null || !ViewBag.IsCreateAccountPage)) 

                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul id="nav-bar-list" class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a id="home-link" class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a id="edit-link" class="nav-link" asp-area="" asp-controller="Home" asp-action="EditAssets">Edit Assets</a>
                            </li>
                            <li class="nav-item">
                                <a id="what-if-link" class="nav-link" asp-area="" asp-controller="Home" asp-action="WhatIf">What If</a>
                            </li>
                            <li class="nav-item">
                                <a id="transactions-link" class="nav-link" asp-area="" asp-controller="Home" asp-action="Transactions">Transactions</a>
                            </li>
                        </ul>
                        <div class="d-flex align-items-center">
                            <a asp-area="" asp-controller="Home" asp-action="Settings">
                                <img id="settings-icon" src="~/Resources/Images/settings-new.png" alt="Settings" height="30" />
                            </a>
                        </div>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
