@{
    ViewData["Title"] = "Settings";
}

<div class="settings-group">
    <h2>Account</h2>
    <form method="post" asp-controller="Home" asp-action="Logout">
        <button class="button" type="submit">Logout</button>
    </form>
</div>