@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
  margin-bottom: 60px;
}

.login {
    display: flex;
    flex-direction: column;
}

.login-input {
    height: 25px;
    width: 200px
}

.login-button-group {
    display: flex;
    flex-direction: row; 
    height: 25px;
    font-size: 15px;
    gap: 20px;
}

.edit-assets-form {
    display: flex;
    flex-direction: column;
}

.login-input {
    width: 200px;
}

.login-button-group {
    padding-top: 10px;
    height: auto;
    width: auto;
}

.create-account-button-group {
    padding-top: 10px;
    height: auto;
    width: auto;
}

.button {
    background-color: lightgray;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

#password-label {
    padding-top: 20px;
}

#create-password-label {
    padding-top: 20px;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#create-account-form {
    display: flex;
    flex-direction: column;
}

.assets-table-div table td {
    padding-left: 20px;
}

.form-buttons {
    padding-top: 20px;
}


#assets-table tr {
    border-bottom: 1px solid #ccc;
}

#assets-table tr:last-child {
    border-bottom: none; 
}

.add-to-balance-group {
    display: flex;
    flex-direction: column;
    width: 200px;
}

#add-to-balance-button {
    width: 75px;
}

.subtract-from-balance-group {
    display: flex;
    flex-direction: column;
    width: 200px;
}

#subtract-from-balance-button {
    width: 75px;
}
