@model BudgetingApp.Models.UserModel

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<div class="login">
    <h1>Login</h1>

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }

    <form asp-controller="Auth" asp-action="Login" method="post">
        <label for="Username">Username</label>
        <input id="username-input" class="login-input" type="text" asp-for="Username" />
        <span asp-validation-for="Username" class="text-danger"></span>

        <label for="Password">Password</label>
        <input id="password-input" class="login-input" type="password" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>

        <div class="login-button-group">
            <button type="submit" id="login-button" class="login-button">Login</button>
            <button id="create-account-button" class="login-button"><a asp-controller="Auth" asp-action="CreateAccount" class="login-button">Create Account</a></button>
        </div>
    </form>
    

    
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}