@model BudgetingApp.Models.UserModel

@{
    ViewData["Title"] = "Login";
}

<div class="login">
    <h2>Login</h2>

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }
    <div class="login-form-group">
        <form asp-controller="Auth" asp-action="Login" method="post" id="login-form">
            <label for="Username" id="username-label">Username</label>
            <input id="username-input" class="login-input" type="text" asp-for="Username" />
            <span asp-validation-for="Username" class="text-danger"></span>

            <label for="Password" id="password-label">Password</label>
            <input id="password-input" class="login-input" type="password" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>

            <div class="login-button-group">
                <button type="submit" id="login-button" class="login-button button">Login</button>
                <button id="create-account-button" class="login-button button"><a asp-controller="Auth" asp-action="CreateAccount" class="login-button button">Create Account</a></button>
            </div>
        </form>
    </div>

    
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}